$white: #ffffff !default;
$off-white: #f7f9f9 !default;
$grey-lt-000: #e6eff0 !default;
$grey-lt-100: #c8dfe3 !default;
$grey-dk-000: #7a9ca1 !default;
$grey-dk-100: #5c7a7e !default;
$grey-dk-200: #435a5d !default;
$grey-dk-300: #2b3b3d !default;
$teal-000: #2ec4b6 !default;
$teal-100: #26a69a !default;
$coral-000: #ff9f1c !default;
$coral-100: #ff8c00 !default;
$pink-000: #D81B60 !default;

$color-scheme: light;
$body-background-color: $off-white !default;
$body-heading-color: $grey-dk-300 !default;
$body-text-color: $grey-dk-200 !default;
$link-color: $teal-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$sidebar-color: $grey-lt-000 !default;
$base-button-color: $grey-lt-100 !default;
$btn-primary-color: $teal-100 !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: $coral-000 !default;
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;
$link-color-hover: $pink-000 !default; // A vibrant pink that contrasts well with light backgrounds