@import "./color_schemes/light";
$white: #ffffff !default;
$off-white: #f7f9f9 !default;
$grey-lt-000: #e6eff0 !default;
$grey-lt-100: #c8dfe3 !default;
$grey-dk-000: #7a9ca1 !default;
$grey-dk-100: #5c7a7e !default;
$grey-dk-200: #435a5d !default;
$grey-dk-300: #2b3b3d !default;
$black-000: #000000 !default;
$black-100: #1a1a1a !default;


$color-scheme: newlight;
$body-background-color: $off-white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-200;
$link-color: $black-000;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-000;
$base-button-color: $grey-lt-100;
$btn-primary-color: $black-100;
$code-background-color: $grey-lt-000;
$feedback-color: $grey-lt-100;
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;
$link-color-hover: $pink-000; // A vibrant pink that contrasts well with light backgrounds